# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Poetry virtual env
.venv/

# Environments
.env
.env.*

# Build
dist/
build/

# IDEs
.vscode/

# prototype code
garb_proto/
# html test data
rent_flat/
sell_flat/
sell_house/

#rezultatu folderis
/result_data
# debuginimo failas
labels.txt
#duombaze
vilnius.db
vilnius.db.wal